@charset "UTF-8";
/* 기본 설정 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #5d99c6, #dfe9f3);
}

/* 전체 대시보드 레이아웃 */
.List {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 상단바 */
.header {
    background-color: #70c2e7;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

/* 사용자 정보 및 알림 아이콘 */
.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#current-time, #current-date {
    font-size: 13px;
    color: #e0e0e0;
}

/* 콘텐츠 영역 */
.list-content {
    display: flex;
    flex: 1;
}

/* 사이드바 */
.sidebar {
    width: 150px;
    height: 100%;
    background-color: #577590;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
}

.sidebar li:hover {
    color: #a8dadc;
}

/* 서브메뉴 스타일 */
.submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.submenu.visible {
    max-height: 1000px;
}

.submenu li {
    margin-bottom: 10px;
    font-size: 10px;
}

.submenu li a,
.menu-item a {
    color: #ffffff;
    text-decoration: none;
}

.submenu li a:hover,
.menu-item a:hover {
    color: #a8dadc;
}

/* 목록 테이블 */
.main-list {
	height: 100%;
    flex: 1;
    padding: 20px;
    background-color: white;
}

header .mainTitle {
	font-size: 15px; 
	padding: 0px 20px; 
}
header .search { 
	text-align: right; 
	margin-bottom: 10px; 
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.main-table th, .main-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
}

.main-table td a {
    color: #000000;
    text-decoration: none;
}

.main-table th {
    background-color: #70c2e7;
    color: white;
}

/* button */
.btn { background: black; color: white; border-radius: 3px; border: none; width: 50px; height: 20px; 
	cursor: pointer; display: inline-block; vertical-align: middle; font-size: 11px; text-align: center; text-decoration: none;}
.btnBox { text-align:right; margin-top: 10px;}
.aBtn {	text-align: center; line-height: 20px; }